<h2>Cadastro de Usuário</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <input type="text" formControlName="nome" placeholder="Nome" />
    <input type="text" formControlName="sobrenome" placeholder="SobreNome" />
  </div>
  <br />
  <div>
    <input type="text" formControlName="email" placeholder="E-mail" />
  </div>
  <br />
  <div>
    <input type="password" formControlName="senha" placeholder="Senha" />
  </div>
  <br />
  <div>
    <button mat-raised-button type="submit" color="primary">Cadastrar</button>
  </div>
</form>
